header {
  background-color: #4D3166;
  font-family: 'Pacifico', cursive;
  text-align: center;
  text-decoration: underline;
  color: white;
  font-size: 50px;
  padding: 30px;
}

body {
  background-color: #D2B6EA;
  font-family: 'Englebert', sans-serif;
}

h3 {
  margin: 30px;
  text-align: center;
  font-size: 20px;
}

section {
  background-color: #FAF5E1;
  border: 3px solid black;
  margin: 20px;
  padding: 15px;
}

section img {
  width: 350px;
  height: 300px;
  padding-left: 37px;
  margin: auto;
}

#chart {
  background-color: #FAF5E1;
  width: 700px;
  height: 350px;
  margin: auto;
}

footer {
  margin-top: 30px;
  background-color: #4D3166;
  font-family: 'Pacifico', cursive;
  color: white;
  height: 50px;
  padding: 25px;
}